<h2>Welcome to Hyperfeed Web</h2>

<p>Available actions:</p>
<ul>
  <li>/feeds?url=http://rss-url.com</li>
</ul>

Example: <a href="http://localhost:4567/feeds?url=http://feeds.feedburner.com/contigo/noticias/rss">Contigo News</a>.

<hr>
