<h2 class="page-header">Welcome to Hyperfeed Web</h2>

<p>Available actions:</p>
<ul>
  <li>/feeds?url=http://rss-url.com</li>
</ul>

<div class="box">
	<h3 class="page-subheader">Lists Examples</h3>
	<ul>
	  <li><a href="/feeds?url=http://feeds.feedburner.com/contigo/noticias/rss">Contigo News</a></li>
	  <li><a href="/feeds?url=http://feeds.feedburner.com/EXAME-Noticias?format=xml">Exame News</a></li>
	</ul>
</div>

<div class="box">
	<h3 class="page-subheader">Content Examples</h3>
	<ul>
	  <li><a href="/feeds?url=http://feeds.feedburner.com/contigo/noticias/rss?resource_id=1">Contigo News</a></li>
	  <li><a href="/feeds?url=http://feeds.feedburner.com/EXAME-Noticias?format=xml%26resource_id=1">Exame News</a></li>
	</ul>
</div>
